 @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass",sans-serif;
}
body{
    height: 100dvh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container,.container2{
    background-color: hsl(213, 14%, 12%);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.star{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: hsl(213, 12%, 17%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.star img{
    width: 35%;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
h1{
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    font-weight: 700;
}
p{
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    line-height: 25px;
}
.rcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
ul{
    list-style-type: none;
}
.btn{
    border-radius: 50%;
    background-color: hsl(210, 10%, 19%);
    font-size: 10px;
    color: hsl(216, 12%, 54%);
    width: 3rem;
    height: 3rem;
    border: none;
    font-size: 15px;
}
.submit{
    height: 6dvh;
    border-radius: 20px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    border: none;
    
}
.btn:hover{
    background-color: hsl(25, 97%, 53%);
    color: white;
    cursor: pointer;
}
.btn:focus{
    background-color: hsl(217, 12%, 63%);
    color: white;
    cursor: pointer;
}
.submit:hover{
    color: hsl(25, 97%, 53%);
    background-color: white;
    cursor: pointer;
}
.container2{
    align-items: center;
    justify-content: center;
}
.container2 img{
   max-width: 150px;
}
.firstText{
    background-color: hsl(213, 12%, 17%);
    border-radius: 20px;
    padding: 2px 15px 2px;
}
.secoundText{
    text-align: center;
}
.hidden{
    display: none;
}

